/*---- Slider ----*/
.slider.index-3 .owl-main {
  overflow: hidden;
  height: auto;
}
.slider.index-3 .owl-main .owl-stage {
  height: auto !important;
}
.slider.index-3 .owl-main .owl-item img {
  height: 100vh;
  min-width: auto !important;
  object-fit: cover;
}
.slider.index-3 .owl-main {
}
.slider.index-3 .owl-main .item::after {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}
.slider.index-3 .owl-main .owl-dots {
  display: none !important;
}
.slider.index-3 .owl-main .owl-nav {
  display: block !important;
  z-index: 999;
  position: absolute;
  top: 40%;
  width: 100%;
}
.slider.index-3 .owl-main .owl-carousel .owl-nav .owl-next span,
.slider.index-3 .owl-main .owl-carousel .owl-nav .owl-prev span {
  display: block !important;
}
.slider.index-3 .owl-main .owl-nav button {
  height: 70px;
  width: 70px;
  padding: 28px;
  border: none;
  background: none;
  transition: all 0.5s ease;
  top: 0;
}
.slider.index-3 .owl-main .owl-nav button.owl-prev {
  left: 0;
}
.slider.index-3 .owl-main .owl-nav button.owl-next {
  right: 0;
}
.slider.index-3 .owl-main .owl-nav button img {
  opacity: 0.5;
}
.slider.index-3 .owl-main .owl-nav button:hover {
  background: none;
}
.slider.index-3 .owl-main .owl-nav button:hover img {
  opacity: 1;
}
.slider.index-3 .caption a.contact_us {
  border-radius: 0;
  border: solid 1px #fff;
  color: #fff;
  padding: 10px 25px;
  background: none;
}
.slider.index-3 .owl-main .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
  background: none;
}
.slider.index-3 .caption {
  text-align: center;
  margin: 0px auto;
  width: 800px;
  height: auto;
  top: 200px;
  position: absolute;
  right: 10%;
  bottom: 20px;
  left: 10%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}
.slider.index-3 .caption .think {
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  position: relative;
  height: auto;
  margin-bottom: 10px;
}
.slider.index-3 .caption .display {
  font-size: 60px;
  line-height: 70px;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.slider.index-3 .caption .sub-heading {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.slider.index-3 .caption .content {
  font-size: 18px;
  color: #fff;
  padding: 0 10%;
  margin-bottom: 20px;
}

.logo_img {
  padding-bottom: 10px;
}

.footer-bottom-logo {
  background-color: #fff;
}

.footer_logo {
  width: 100%;
}

.nav-link {
  color: black !important;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar-toggler {
  color: black !important;
}

.footer_location {
  list-style: none;
  color: #fff;
  text-decoration: none;
}

.location_head {
  color: #fff !important;
}

.address {
  max-width: 100% !important;
}
.location ul li {
  padding-left: 28px;
}
.location ul li:first-child {
  padding-left: 0px;
}
.location ul li i {
  display: inline-block;
  position: absolute;
  /* top: 10px; */
  left: 15px;
  margin-top: 7px;
  /* font-size: 14px; */
}

.location a {
  color: #fff;
}

.link_color {
  color: black !important;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}

.section_main_title h2 span {
  color: #0c5adb;
}

.flag {
  /* font-size: 20px; */
  width: 10px;
}

.location_icon {
  font-size: 16px;
  color: #0c5adb;
}

.test1 {
  background-color: aqua;
}
.test2 {
  background-color: blueviolet;
}

iframe .i4ewOd-pzNkMb-haAclf {
  display: none !important;
  z-index: -1 !important;
}

.navbar-nav a:nth-child(5) {
  background-color: green;
}
.main_menu {
  display: flex;
  list-style: none;
}

.link_color {
  font-size: 14px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .link_color {
    font-size: 12px;
  }
  .logo {
    width: 250px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .logo {
    width: 250px;
  }
  .main_menu {
    display: block;
    text-align: center;
  }
}

.services {
  position: relative;
}
.submenu {
  display: none;
  background-color: #fff;
  padding: 20px;
  width: max-content;
  position: absolute;
  padding-bottom: 0;
  border-radius: 5%;
  border-bottom: #0c5adb 3px solid;
  color: #0c5adb;
  transition: 1s;
}
.submenu li {
  border-bottom: 1px solid rgb(190, 189, 189);
  list-style: none;
  padding: 10px;
}

.submenu li:hover {
  transition: 0.5s;
  color: #fff !important;
  background-color: #0c5adb;
}

.submenu li:active {
  background-color: #0c5adb;
}

.services:hover > .submenu {
  display: block;
}

.section_content_text p {
  text-align: justify;
  text-indent: 5%;
}
.pricing_head_three:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: url(../public/assets/images/new/pricing-bg1.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;
  z-index: -1;
}
.navbar-dark {
  background-color: #fff;
}
.featur {
  text-align: justify;
}

.choose_icon_lft i {
  font-size: 16px;
  height: 20px;
  width: 20px;
  line-height: 1;
}

.nagative_mb {
  margin-bottom: 0px;
}

.choose_us {
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.featur ul {
  padding-left: 10px;
}

.nagative_margin {
  margin-top: -150px;
}

/* .main_menu li:hover {
  color: #0c5adb !important;
}
li .nav-link:active {
  color: #0c5adb;
} */
